@import "./customBootstrap.scss";
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Danube";
  src: url("./Fonts/DANUB___.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0f091b;
}

.dis-font {
  font-family: "Dangrek", cursive;
}

.input-width {
  max-width: 40rem;
}

.logo {
  font-family: "Danube";
}

.profile-pic {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: gray;
}
