@import "./customBootstrap.scss";
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Danube";
  src: url("./Fonts/DANUB___.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0f091b;
}

.input-width {
  max-width: 40rem;
}

.logo {
  font-family: "Danube";
}

.profile-pic {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.hover-text {
  color: $info;
  &:hover {
    color: $light;
  }
}

.hover-secondary {
  color: #d03057;
  transition: 0.2s ease;
  &:hover {
    color: #92213c;
  }
}

.absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}

.z-5 {
  z-index: 5;
}

.z-10 {
  z-index: 50;
}

.bg-none {
  background: transparent;
}

.fs-small {
  font-size: 0.8rem;
}

span {
  font-size: .25rem;
}

.card-img {
  height: 4rem;
  width: 3rem;
}

.hover-primary {
  transition: 0.2s ease;
  &:hover {
    color: #d03057;
  }
}

.translate-50 {
  transform: translate(-50%, -50%);
}

.hover-delete {
  color: #d03057;
  text-decoration: underline;
  transition: color 0.3s;

  &:hover {
    color: #b91039;
  }
}

.hover-pointer {
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    filter: drop-shadow(10px 5px 10px black);
    height: 6rem;
  }
}

.hero {
  height: 100vh;
  width: 100%;
}

.hero-img {
  object-fit: none;
  width: 100%;
}

.hero-text {
  white-space: nowrap;
  font-size: clamp(3.5rem, 9vw, 7rem);
  text-align: center;
}

.logo-font {
  font-family: Danube;
  font-size: clamp(4rem, 10vw, 8.5rem);
}

.space-text {
  letter-spacing: 0.5rem;
}

.button-container {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  flex-wrap: nowrap;
}

.img-overlay {
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100%;
}

.features-text {
  font-size: 3.5rem;
}

.features-container {
  width: 90%;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}

.collapsed-height {
  height: 20rem;
}

.expanded-height {
  height: 50rem;
}

.icon {
  height: 5rem;
}

.rpe-container {
  border-radius: 1rem;
}

.rpe-table-row {
  width: 95%;
  margin-left: 1rem;
}

.rpe-table-col-1 {
  width: 40%;
  border-radius: 2rem;
}

.rpe-option {
  border-radius: 1rem;
}

.rpe-nav {
  border-radius: 1rem;
}

.rpe-icon {
  width: 14rem;
}

.delete-set {
  color: #d03057;
  text-decoration: underline;
  transition: all 0.3s ease;

  &:hover {
    color: red;
  }
}

.delete-lift-button {
  width: 1.5rem;
  cursor: pointer;
}

.beta-tag {
  font-size: 0.75rem;
  font-family: "Dangrek";
}

.expand {
  height: 25rem;
}

.enter-button {
  width: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.Toastify__toast-body,
.Toastify__toast-body > div,
.Toastify__toast-icon > svg,
.Toastify__close-button > svg {
  background: transparent;
}

.remove-arrows::-webkit-inner-spin-button,
.remove-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


.hover-background {
  &:hover {
    background-color: #ddd;
  }
}

// Hamburger Menu Icon Size
.navbar-toggler-icon {
  font-size: 1rem
}